<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tridenton.Tests.UI</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link href="_content/Tridenton.Core.UI/styles/styles.css" rel="stylesheet">
    <link href="Tridenton.Tests.UI.styles.css" rel="stylesheet" />
    <script src="_content/Tridenton.Core.UI/scripts/datagrid.js"></script>
    <script src="_content/Tridenton.Core.UI/scripts/common.js"></script>
    <HeadOutlet />
</head>
<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>