@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<UIColumn>
    <UITextInput Placeholder="example" />
    
    <UIEmailInput Placeholder="username@example.com" />
    
    <UIPasswordInput />
    
    <UINumberInput TValue="int" Placeholder="Test number" />
</UIColumn>