@inherits UIFlexComponent

<div id="@Id" class="@ClassList" style="@Style" @attributes="Attributes" >
    @ChildContent
</div>

@code
{
    protected override string GetUIComponentClass()
    {
        return $"tridenton-ui-column {base.GetUIComponentClass()}";
    }
}