@inherits UIWrapperComponent

<div id="@Id" @attributes="Attributes" class="@ClassList" style="@Style">
    @ChildContent
</div>

@code
{
    protected override string GetUIComponentClass() => "tridenton-ui-column";
}