:root {
    --size-font-default: 14px;
    --size-line-height-body-default: 22px;
    
    --size-border-width-default: 1px;
    --size-border-width-field-default: 1px;
    --size-padding-block-default: 4px;

    --color-background-body-default: #333335;
    --color-foreground-body-default: #d5d5d5;
    
    --color-primary-lightest: #FFC507;
    --color-primary-light: #CF9F05;
    --color-primary-default: #A17B00;
    
    --color-secondary-default: #25599C;
    --color-accent-default: #803CB8;
    
    --color-common-success: #147000;
    --color-common-info: #0366c8;
    --color-common-error: #d13212;
}