:root {

}

.tridenton-ui-grid {
    display: grid;
}

.tridenton-ui-column,
.tridenton-ui-row {
    display: flex;
}

.tridenton-ui-column {
    flex-direction: column;
}

.tridenton-ui-row {
    flex-direction: row;
}