:root {
    --color-background-input-default: #FFFFFF;
    --color-foreground-input-default: #333333; /* 16191f */
    
    --color-background-checkbox-default: #FFFFFF;
    --color-border-checkbox-default: #C6C6CD;
    --color-background-checkbox-checked: #006CE0;
    --color-border-checkbox-checked: #006CE0;
    --color-background-checkbox-disabled: #C0C0C0;
    --color-border-checkbox-disabled: #C0C0C0;
    --color-foreground-checkbox-default: #F2F2F3;

    --color-background-radio-button-default: #FFFFFF;
    --color-border-radio-button-default: #C6C6CD;
    --color-background-radio-button-checked: transparent;
    --color-border-radio-button-checked: #006CE0;
    --color-background-radio-button-disabled: transparent;
    --color-border-radio-button-disabled: #C0C0C0;
    
    --size-border-radius-input-default: 2px;
    --size-checkbox-width-default: 16px;
    --size-checkbox-height-default: 16px;

    --size-radio-button-width-default: 16px;
    --size-radio-button-height-default: 16px;
    --size-radio-button-border-width-checked: 5px;
}

input {
    border-collapse: separate;
    border-spacing: 0;
    caption-side: top;
    direction: inherit;
    empty-cells: show;
    font-family: 'Tridenton', sans-serif;
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    font-stretch: normal;
    -webkit-hyphens: none;
    hyphens: none;
    letter-spacing: normal;
    list-style: disc none outside;
    -moz-tab-size: 8;
    tab-size: 8;
    text-align: start;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    visibility: visible;
    white-space: normal;
    word-spacing: normal;
    font-weight: 400;
    padding-block: 4px;
    padding-inline: 8px;
    color: var(--color-foreground-input-default);
    inline-size: 100%;
    box-sizing: border-box;
    background-color: var(--color-background-input-default);
    border-radius: var(--size-border-radius-input-default);
    border: 1px solid var(--color-foreground-input-default);
    line-height: 22px;
}

input:focus {
    /*outline: 2px dotted transparent;*/
    border-color: var(--color-common-info);
    /*box-shadow: 0 0 0 1px var(--color-common-info); !* #0073bb *!*/
}

input:focus-visible {
    box-shadow: none;
}

input.invalid:not(:focus) {
    border: 2px solid var(--color-common-error);
    border-left-width: 6px;
}

input[type="checkbox"],
input:is([type="checkbox"]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--color-background-checkbox-default);
    margin: 0;
    padding: 0;
    width: var(--size-checkbox-width-default);
    height: var(--size-checkbox-width-default);
    border: 1px solid var(--color-border-checkbox-default);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="checkbox"]:checked,
input:is([type="checkbox"]):checked {
    background-color: var(--color-background-checkbox-checked);
    border-color: var(--color-background-checkbox-checked);
}
input[type="checkbox"]:checked::before,
input:is([type="checkbox"]):checked::before {
    content: ' ';
    background-image: url('../assets/checkmark.svg');
    width: 10px;
    height: 10px;
    position: absolute;
}
input[type="checkbox"]:disabled,
input:is([type="checkbox"]):disabled {
    background-color: var(--color-background-checkbox-disabled);
    border-color: var(--color-border-checkbox-disabled);
}


input[type="radio"],
input:is([type="radio"]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--color-background-radio-button-default);
    margin: 0;
    padding: 0;
    width: var(--size-radio-button-width-default);
    height: var(--size-radio-button-height-default);
    border: 1px solid var(--color-border-radio-button-default);
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type="radio"]:checked,
input:is([type="radio"]):checked {
    background-color: var(--color-background-radio-button-checked);
    border-color: var(--color-border-radio-button-checked);
    border-width: var(--size-radio-button-border-width-checked);
}

input[type="radio"]:disabled,
input:is([type="radio"]):disabled {
    background-color: var(--color-background-radio-button-disabled);
    border-color: var(--color-border-radio-button-disabled);
}

.tridenton-ui-three-states-checkbox.middle-state::before {
    background-image: url('../assets/minus.svg') !important;
}

/*input::placeholder {*/
/*    white-space-collapse: preserve;*/
/*    text-wrap-mode: nowrap;*/
/*    overflow-wrap: normal;*/
/*    overflow-x: hidden;*/
/*    overflow-y: hidden;*/
/*    line-height: initial;*/
/*}*/