@using System.Text
@inherits DatagridCascadeChild

@if (Visible)
{
    <td id="@Id" class="@ClassList" style="@Style" @attributes="Attributes">
        @ChildContent
    </td>
}

@code
{
    internal bool Visible { get; set; } = true;
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        
        Datagrid.Columns.Add(this);
    }

    protected override string GetUIComponentClass()
    {
        var strBuilder = new StringBuilder("tridenton-ui-datagrid-column");

        return strBuilder.ToString();
    }

    public override void Dispose()
    {
        Datagrid.Columns.Remove(this);
    }
}